/*
I use pre-defined range of font-size: 10, 12, 14, 16, 20 24, 30, 36, 44, 52, 62, 74, 86, 98px. 

Normal text: 16- 32px. 

Long text: 20px or bigger. 

Headlines: 50px+ and bold 600+. Trying to decrease spacing if it looks unnatural. 

For any text a font weight not under 400. 

Less than 75 characters per line. 

For normal-sized text are line-height between 1.5 and 2. For big text below 1.5. 
*/

.third-section,
.images-section,
.first-section,
.fifth-section {
  margin: 0 10px;
}

h3 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.first-section p {
  margin-bottom: 20px;
}

.background {
  background-color: #15aabf;
  overflow: visible;
}

.images-section {
  display: grid;
  grid-template-columns: 50% 10% 40%;
  grid-template-rows: auto auto auto auto;
  gap: 20px;
  margin: 0 10px;
  margin-bottom: 50px;
}

.left {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 110%;
  padding-top: 20px;
}

.right-upper {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  height: 100%;
  padding-top: 30px;
  margin-right: 10px;
}

.right-down {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  height: 100%;
  padding: 20px 0;
}

.right-upper-image img,
.right-down-image img {
  width: 90%;
  height: 90%;
}

.right-upper-image img {
  border: 1px solid #000;
}

.left-image img {
  width: 90%;
}

.third-section p {
  margin-bottom: 20px;
}

.third-section {
  margin-bottom: 50px;
}

.third-section p:nth-child(2) {
  margin-bottom: 60px;
}

.welcome {
  margin: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.welcome-image {
  display: flex;
  align-items: center;
}

.welcome-image img {
  width: 90%;
  margin: 0 auto;
  margin-top: -20px;
  padding-bottom: 30px;
}

.fourth-section {
  margin-top: 50px;
  margin-bottom: 70px;
}

.sixth-section {
  margin-bottom: 70px;
}

.fifth-section {
  margin-bottom: 50px;
}
