/*
I use pre-defined range of font-size: 10, 12, 14, 16, 20 24, 30, 36, 44, 52, 62, 74, 86, 98px. 

Normal text: 16- 32px. 

Long text: 20px or bigger. 

Headlines: 50px+ and bold 600+. Trying to decrease spacing if it looks unnatural. 

For any text a font weight not under 400. 

Less than 75 characters per line. 

For normal-sized text are line-height between 1.5 and 2. For big text below 1.5. 
*/

main p {
  margin-bottom: 20px;
}

.header-p {
  margin-left: 10px;
  margin-bottom: 50px;
}

.welcome {
  margin: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.welcome-image {
  display: flex;
  align-items: center;
}

.welcome-image img {
  width: 90%;
  margin: 0 auto;
  margin-top: -20px;
  padding-bottom: 30px;
}

h3 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 40px;
}

.second-section {
  margin: 0 10px;
}

.button {
  font-weight: 600;
  border-style: none;
  background-color: #ff006e;
  color: #000;
  padding: 10px 0;
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 80px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.third-section p {
  margin-left: 10px;
  margin-bottom: 50px;
}

.volunteer {
  align-items: center;
  justify-content: center;
  overflow: visible;
  height: 25vh;
  width: 100%;
  margin-bottom: 20px;
}

.volunteer-inner img {
  width: 90%;
  height: 90%;
  margin-top: -40px;
  margin-bottom: 10px;
  border: 1px solid #000;
  object-fit: cover;
}

.volunteer-inner {
  width: 100%;
  height: calc(100% + 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-section p {
  margin: 0 10px;
  margin-bottom: 20px;
}

/* ************** Media Queries ************** */

@media screen and (min-width: 700px) {
  .desktop-first-section {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .header-p {
    margin-left: 5%;
  }

  .image-section {
    flex: 2;
  }

  .second-section {
    flex: 3;
  }

  h3 {
    font-size: 1.4rem;
  }

  .button {
    margin-top: 3%;
    padding: 20px 0;
    width: 60%;
    font-size: 1.2rem;
  }

  .second-desktop {
    flex-direction: row;
    gap: 20px;
  }

  .third-section {
    flex: 2;
  }

  .fourth-section {
    margin-top: 50px;
    flex: 3;
  }
}

@media screen and (min-width: 1000px) {
  .header-p {
    font-size: 1.2rem;
  }
}
