/*
I use pre-defined range of font-size: 10, 12, 14, 16, 20 24, 30, 36, 44, 52, 62, 74, 86, 98px. 

Normal text: 16- 32px. 

Long text: 20px or bigger. 

Headlines: 50px+ and bold 600+. Trying to decrease spacing if it looks unnatural. 

For any text a font weight not under 400. 

Less than 75 characters per line. 

For normal-sized text are line-height between 1.5 and 2. For big text below 1.5. 
*/

.skewed-btn-visit {
  background-color: #e5b04b;
  color: black;
  font-family: "Irish Grover";
  padding: 1% 4%;
  border: none;
  transform: rotate(-10deg);
  transition: transform 0.3s ease;
  position: absolute;
  bottom: 0;
  right: 10px;
  cursor: pointer;
}

.skewed-btn-visit p:first-child {
  font-size: 0.9rem;
}

.skewed-btn-visit p:last-child {
  font-size: 0.6rem;
}

.skewed-btn-visit:hover {
  transform: rotate(-8deg);
}

.encouraging-element {
  height: 60%;
  position: absolute;
  left: 0;
  top: 10%;
}

.introduction {
  height: 30vh;
  width: 100%;
  position: relative;
  margin-bottom: 12%;
}

.introduction > div {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: change-image 15s infinite;
  opacity: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20%));
}

.introduction > div:nth-child(2) {
  animation-delay: 5s;
}

.introduction > div:nth-child(3) {
  animation-delay: 10s;
}

@keyframes change-image {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
  }
}

.explore-together {
  height: 95vh;
  width: 100%;
}

.explore-together div {
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
}

.explore-together div div {
  height: 90%;
  width: 95%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.explore-together div div h1 {
  font-family: "Irish Grover";
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 5%;
  margin-top: 5%;
}

.explore-together div div p {
  font-weight: 500;
  margin-left: 6%;
  margin-right: 2%;
}

.middle-p {
  margin: 5% 0;
}

.skewed-btn-explore {
  background-color: #0b7285;
  font-family: "Irish Grover";
  font-size: 1.2rem;
  padding: 2% 11%;
  border: none;
  transform: rotate(-10deg);
  transition: transform 0.3s ease;
  position: absolute;
  bottom: 2%;
  right: 10px;
  cursor: pointer;
}

.skewed-btn-explore a p {
  animation: change-size 5s infinite;
  color: #fff;
}

@keyframes change-size {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}

.exhibition-spaces-container > h2,
.special-events > h2 {
  color: #567708;
  font-family: "Irish Grover";
  font-weight: 400;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 100px;
}

/* .carousel {
  position: relative;
  background-color: #1098ad;
  padding-bottom: 30%;
} */

/* .carousel-slide {
  display: none;
  text-align: center;
  padding: 20px;
} */

/* ********************************* */

.carousel-container {
  position: relative;
  height: 600px;
}

/* #slide1,
#slide2,
#slide3,
#slide4,
#slide5 {
  display: none;
}

.carousel-container .slide:target {
  display: block;
}

.carousel-container #slide1 {
  display: block;
} */

.buttons {
  bottom: 110px;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.left {
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}

.text h2 {
  text-align: center;
}

.text p {
  font-size: 0.9rem;
  line-height: 2;
  text-align: left;
  margin: 10px;
}

.text {
  flex: 4;
}

.text-btn {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}

.slide {
  /* height: 600px; */
}

.carousel-container .slide {
  /* display: block;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.5s; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel-container .slide:target ~ #slide1,
.carousel-container .slide:target ~ .text-btn {
  opacity: 0;
  z-index: 1;
}

.carousel-container .slide:target {
  opacity: 1;
  z-index: 2;
}

.carousel-container .slide.active {
  opacity: 1;
  z-index: 2;
}

.background-image {
  background-color: #1098ad;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-div {
  height: 300px;
  width: 90%;
  position: relative;
  top: -20px;
  display: flex;
}

.image-div img {
  width: 100%;
  object-fit: cover;
}

/* ************************************ */

/* .carousel-button {
  position: absolute;
  bottom: 10%;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
} */

/* .carousel-slide:target {
  display: block;
}

.carousel-slide:first-child {
  display: block;
}

.carousel-slide:target ~ .carousel-slide:first-child {
  display: none;
}

#slide2:target ~ .carousel-slide:first-of-type,
#slide3:target ~ .carousel-slide:first-of-type,
#slide4:target ~ .carousel-slide:first-of-type,
#slide5:target ~ .carousel-slide:first-of-type {
  display: none;
} */

.carousel-slide p {
  font-size: 0.9rem;
  line-height: 2;
  text-align: left;
}

.carousel-slide h2 {
  margin: 10px 0;
}

.event img {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  grid-column: 1/1;
  grid-row: 1/3;
}

.event h3 {
  font-size: 1rem;
  grid-column: 2/2;
  grid-row: 2/2;
}

.event {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 30px 30px auto;
  row-gap: 10px;
  margin: 0 10px;
}

.event-p-1 {
  grid-column: 2/2;
  grid-row: 1/1;
  align-self: self-end;
}

.event-p-2 {
  grid-column: -1/1;
}

.first-event {
  margin-bottom: 50px;
}

.special-events {
  display: flex;
  flex-direction: column;
}

.special-events button {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 30px auto;
  padding: 4% 12%;
  border: 3px solid #0b7285;
  margin-bottom: 60px;
}

.regular-events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regular-events > div:first-child {
  margin-top: 60px;
}

.regular-events h2 {
  margin-bottom: 10px;
}

.regular-events p {
  margin: 0 30px 20px 30px;
}

.regular-events p:last-of-type {
  margin-bottom: 80px;
}

.image-container {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
  margin: 30px auto;
}

/* *************Media queries*********** */

@media (max-width: 393px) {
  .explore-together div div {
    width: 95%;
  }
  .explore-together div div p {
    margin-left: 2%;
  }

  .explore-together {
    height: 120vh;
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .introduction {
    height: 50vh;
    width: 100%;
    position: relative;
    margin-bottom: 12%;
  }

  .skewed-btn-visit p:first-child {
    font-size: 1.4rem;
  }

  .skewed-btn-visit p:last-child {
    font-size: 1.1rem;
  }

  main section:not(.introduction) {
    margin: 0 50px;
  }

  .explore-together div {
    height: 70%;
    width: 80%;
  }

  .middle-p {
    margin: 2% 0;
  }

  .explore-together div div h1 {
    margin-bottom: 3%;
  }

  .exhibition-spaces-container > h2 {
    margin-top: 10px;
    margin-bottom: 15%;
    font-size: 3.2rem;
  }

  .carousel {
    display: none;
  }

  /* .carousel-slide {
    display: flex;
  } */
}

.exhibition-spaces {
  display: none;
}
/* 
.background-img {
  
  width: 80%;
}

.c-image img {
  width: 90%;
  height: 40vh;
  margin-top: -15%;
}

.c-image img {
  width: 90%;
  position: absolute;
}

.first-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.carousel-slide {
  display: none;
  background-color: #1098ad;
  height: 250%;
  
}

.carousell {
  position: relative;
  width: 100%;
  height: auto;
  
} */

@media screen and (min-width: 1000px) {
  .exhibition-spaces > h2 {
    font-size: 4.2rem;
  }
}
