/*
I use pre-defined range of font-size: 10, 12, 14, 16, 20 24, 30, 36, 44, 52, 62, 74, 86, 98px. 

Normal text: 16- 32px. 

Long text: 20px or bigger. 

Headlines: 50px+ and bold 600+. Trying to decrease spacing if it looks unnatural. 

For any text a font weight not under 400. 

Less than 75 characters per line. 

For normal-sized text are line-height between 1.5 and 2. For big text below 1.5. 
*/

.skewed-btn-visit {
  background-color: #e5b04b;
  color: black;
  font-family: "Irish Grover";
  padding: 1% 4%;
  border: none;
  transform: rotate(-10deg);
  transition: transform 0.3s ease;
  position: absolute;
  bottom: 0;
  right: 10px;
  cursor: pointer;
}

.skewed-btn-visit p:first-child {
  font-size: 0.8rem;
}

.skewed-btn-visit p:last-child {
  font-size: 0.5rem;
}

.skewed-btn-visit:hover {
  transform: rotate(-8deg);
}

.encouraging-element {
  height: 70%;
  position: absolute;
  left: 0;
  top: 10%;
}

.introduction {
  height: 20vh;
  width: 100%;
  position: relative;
  margin-bottom: 12%;
}

.introduction > div {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: change-image 15s infinite;
  opacity: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20%));
}

.introduction > div:nth-child(2) {
  animation-delay: 5s;
}

.introduction > div:nth-child(3) {
  animation-delay: 10s;
}

@keyframes change-image {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
  }
}

.explore-together {
  height: 60vh;
  width: 100%;
}

.explore-together div {
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
}

.explore-together div div {
  height: 80%;
  width: 90%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.explore-together div div h1 {
  font-family: "Irish Grover";
  text-align: center;
  font-weight: 500;
  margin-bottom: 5%;
}

.explore-together div div p {
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 1.7;
  margin-left: 6%;
  margin-right: 2%;
}

.middle-p {
  margin: 5% 0;
}

.skewed-btn-explore {
  background-color: #0b7285;

  font-family: "Irish Grover";
  font-size: 1.2rem;
  padding: 2% 11%;
  border: none;
  transform: rotate(-10deg);
  transition: transform 0.3s ease;
  position: absolute;
  bottom: 8%;
  right: 10px;
  cursor: pointer;
}

.skewed-btn-explore a p {
  animation: change-size 5s infinite;
  color: #fff;
}

@keyframes change-size {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.exhibition-spaces > h2,
.special-events > h2 {
  color: #567708;
  font-family: "Irish Grover";
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 50px;
}

.carousel {
  position: relative;
  background-color: #1098ad;
  padding-bottom: 30%;
}

.carousel-slide {
  display: none;
  text-align: center;
  padding: 20px;
}

.carousel-slide > img {
  width: 98%;
  height: 200px;
  margin-top: -15%;
}

.carousel-button {
  position: absolute;
  bottom: 10%;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-slide:target {
  display: block;
}

.carousel-slide:first-child {
  display: block;
}

.carousel-slide:target ~ .carousel-slide:first-child {
  display: none;
}

/* #slide2:target ~ .carousel-slide:first-of-type,
#slide3:target ~ .carousel-slide:first-of-type,
#slide4:target ~ .carousel-slide:first-of-type,
#slide5:target ~ .carousel-slide:first-of-type {
  display: none;
} */

.carousel-slide p {
  font-size: 0.7rem;
  line-height: 2;
  text-align: left;
}

.carousel-slide h2 {
  margin: 10px 0;
}

.event img {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  grid-column: 1/1;
  grid-row: 1/3;
}

.event p {
  font-size: 0.8rem;
  line-height: 1.7;
}

.event h3 {
  font-size: 0.9rem;
  grid-column: 2/2;
  grid-row: 2/2;
}

.event {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 30px 30px auto;
  row-gap: 10px;
  margin: 0 10px;
}

.event-p-1 {
  grid-column: 2/2;
  grid-row: 1/1;
  align-self: self-end;
}

.event-p-2 {
  grid-column: -1/1;
}

.first-event {
  margin-bottom: 50px;
}

.special-events {
  display: flex;
  flex-direction: column;
}

.special-events button {
  font-weight: 600;
  margin: 30px auto;
  padding: 4% 12%;
  border: 2px solid #0b7285;
}

.regular-events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regular-events h2 {
  margin-bottom: 10px;
}

.regular-events p {
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 0 30px 20px 30px;
}

.regular-events p:last-of-type {
  margin-bottom: 80px;
}

.image-container {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
  margin: 30px auto;
}
