@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../assets/fonts/Inter/Inter-Regular.woff") format("woff"),
    url("../assets/fonts/Inter/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("../assets/fonts/Inter/Inter-Medium.woff") format("woff"),
    url("../assets/fonts/Inter/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../assets/fonts/Inter/Inter-SemiBold.woff") format("woff"),
    url("../assets/fonts/Inter/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../assets/fonts/Inter/Inter-Bold.woff") format("woff"),
    url("../assets/fonts/Inter/Inter-Bold.woff2") format("woff2");
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

html {
  font-size: 16px;
}

a:link {
  text-decoration: none;
}

a:hover {
  /* font-weight: 600; */
}

.common-p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #000;
}

.header {
  color: #567708;
  font-family: "Irish Grover";
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Header & Nav  */

.donate {
  display: flex;
  background-color: #a7c957;
  justify-content: space-between;
  font-size: 0.8rem;
}

.donate div {
  height: 5%;
  display: flex;
  align-items: center;
  margin: 5px 15px;
}

.donate div:last-child {
  border: #000 solid 1px;
  border-radius: 50px;
  padding: 0 10%;
  font-weight: 700;
}

nav {
  position: relative;
  height: 80px;
  width: 100%;
}

#bg1,
#bg2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#bg1 {
  background-color: #fff;
  clip-path: polygon(100% 100%, 0 100%, 0 50%);
}

#bg2 {
  background-color: #c5f6fa;
  clip-path: polygon(100% 50%, 100% 0, 0 0, 0 0);
}

.logo {
  z-index: 100;
  position: absolute;
  top: 31px;
  left: 10px;
}

.bar {
  display: block;
  background-color: #000;
  border-radius: 110px;
  height: 4px;
  width: 30px;
  margin: 6px auto;
  transition: 0.4s;
}

#menu-toggle:checked + .hamburger-menu .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked + .hamburger-menu .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger-menu .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 25px;
}

#menu-toggle {
  display: none;
}

.mobile-menu {
  background-color: orangered;
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: max-height 3s ease-out;

  z-index: 100;
}

.mobile-menu ul {
  list-style-type: none;
}

.mobile-menu li {
  height: 3.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  padding-bottom: 15px;
}

.mobile-menu li a {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

#menu-toggle:checked ~ .mobile-menu {
  display: block;
  max-height: 17.5rem;
}

/* ***************FOOTER************* */

footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sign-btn-container {
  display: flex;
  justify-content: center;
  height: 25px;
}

.email-input {
  border: #fff;
  border-radius: 20px;
  margin-right: -45px;
  padding: 0 40px;
  color: #000;
}

.signin-btn {
  color: #fff;
  background-color: #ff006e;
  border: #ff006e;
  border-radius: 20px;
  padding: 0 15px;
  font-size: 0.6rem;
}

.footer-icons {
  display: flex;
  width: 40%;
  gap: 40px;
  margin: 20px 0;
}

.social-icon path {
  fill: #fff;
}

footer h2 {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 1.6px;
}

footer > p:first-of-type {
  font-size: 0.7rem;
}

.sign-btn-container {
  margin: 40px 0;
}

footer > p:nth-of-type(2) {
  margin-bottom: 10px;
  color: #fff;
}

footer > p:nth-of-type(3) {
  margin-bottom: 50px;
}

footer > p:nth-of-type(4) {
  margin-bottom: 10px;
}

footer > p:nth-of-type(5) {
  margin-bottom: 50px;
}

footer > p:nth-of-type(6) {
  font-size: 0.8rem;
  margin-bottom: 30px;
}

footer > p:nth-of-type(7) {
  font-size: 0.8rem;
  margin-bottom: 30px;
  margin-top: 20px;
}

.key-links {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.2rem;
}

.key-links p {
  margin-bottom: 15px;
}

footer a {
  color: #fff;
  margin-bottom: 10px;
}

/* Media Queries */

@media screen and (min-width: 500px) {
  .hamburger-menu {
    display: none;
  }
}
