/*
I use pre-defined range of font-size: 10, 12, 14, 16, 20 24, 30, 36, 44, 52, 62, 74, 86, 98px. 

Normal text: 16- 32px. 

Long text: 20px or bigger. 

Headlines: 50px+ and bold 600+. Trying to decrease spacing if it looks unnatural. 

For any text a font weight not under 400. 

Less than 75 characters per line. 

For normal-sized text are line-height between 1.5 and 2. For big text below 1.5. 
*/

main a:link {
  color: #000;
}

.contact-info {
  margin: 0 10px;
}

.contact-info h3 {
  font-weight: 500;
  margin-bottom: 5%;
  letter-spacing: 1px;
}

.contact-info h2 {
  margin-bottom: 6%;
}

.p-bold-visit {
  font-weight: 600;
  color: #000;
}

.p-last {
  margin-bottom: 40px;
}

.p-very-last {
  margin-bottom: 70px;
}

.center-container {
  display: flex;
  justify-content: center;
}

.map {
  width: 95%;
  border: #dad7d7 solid 1px;
}

.movie-description {
  font-family: "Irish Grover";
  text-align: center;
  font-size: 1.2rem;
  margin-top: 70px;
  margin-bottom: 20px;
}

.movie {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie iframe {
  width: 90%;
}

.bottom-section {
  margin: 0 10px;
}

.accessible {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}

.accessible div img {
  width: 140%;
}

.bottom-section p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.bottom-section p:last-child {
  margin-bottom: 50px;
}

/* ***************** Media Queries ************** */

@media screen and (min-width: 700px) {
  .contact-info {
    display: flex;
  }

  .contact-info,
  .movie {
    margin-left: 5%;
    margin-right: 5%;
  }

  .center-container {
    flex: 1;
    margin-top: 100px;
    width: 100%;
    height: 100%;
  }

  .upper-section {
    flex: 1;
  }

  .movie-description {
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 20px;
  }

  .movie iframe {
    height: 550px;
  }

  .movie {
    margin-left: 10%;
    margin-right: 10%;
  }

  .bottom-section p,
  .accessible {
    margin: 0 5%;
  }

  .accessible {
    margin-bottom: 2%;
    font-size: 1.4rem;
  }

  .accessible div img {
    width: 290%;
  }

  .bottom-section p {
    font-size: 1.1rem;
    margin-bottom: 1%;
  }
}
